@model IEnumerable<PA.CampeonatoXadrez.ViewModel.PartidaViewModel>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<link rel="stylesheet" type="text/css" href="~/Content/Teste.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 col-sm-6">
            <a href="javascript:;" class="dashboard-block">
                <div class="rotate">
                    <i class="fa fa-user"></i>
                </div>
                <div class="details">
                    <span class="title">Turno</span>
                    <span class="sub" id="turma">@ViewBag.Turno</span>
                </div><!--/details-->
                <i class="fa fa-chevron-right fa-2x more"></i>
            </a><!--/dashboard-block4-->
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="javascript:;" class="dashboard-block">
                <div class="rotate">
                    <i class="fa fa-user"></i>
                </div>
                <div class="details">
                    <span class="title">Vencedor do Campeonato</span>
                    <span class="sub" id="turma">@ViewBag.NomeVencedor</span>
                </div><!--/details-->
                <i class="fa fa-chevron-right fa-2x more"></i>
            </a><!--/dashboard-block4-->
        </div>
    </div><!--/row-->

</div>
<h2>Index</h2>

<p>
    @Html.ActionLink("Proximo Turno", "ProximoTurno","Partida", new { Id = @ViewBag.IdCampeonato }, new { @class = "btn btn-primary" })
</p>

@Html.ValidationSummary("")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeJogador1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeJogador2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeJogadorVencedor)
        </th>
       
        @*<th>
            @Html.DisplayNameFor(model => model.Turno)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.NomeJogador1)
            @if (item.JogadorIdVencedor == null)
            {
             @Html.ActionLink("Vencedor", "Vencedor", new { Id = item.JogadorId1, IdPartida = item.PartidaId }, new { @class = "btn btn-primary" })
            }
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeJogador2)
            @if (item.JogadorIdVencedor == null)
            {
             @Html.ActionLink("Vencedor", "Vencedor", new { Id = item.JogadorId2, IdPartida = item.PartidaId }, new { @class = "btn btn-primary" })
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeJogadorVencedor)
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.Turno)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
